header.bg-wedding{

    padding-top: 10rem;
    padding-bottom: calc(10rem - 72px);
    background: linear-gradient(to bottom,rgba(92,77,66,.8) 0,rgba(92,77,66,.8) 100%),url(../images/casal-wed.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
header.bg-example{

    padding-top: 10rem;
    padding-bottom: calc(10rem - 72px);
    background: linear-gradient;
    background-color: #0B615E;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.gifts{
  padding: 30px;
}

 
.msg{
   width: 475px; height: 200px;
}
.borda {

box-shadow: 10px 10px 10px rgba(0,0,0,0.5);

}
.example{
  background-color: #0B2161;
}
.mesage{
  background-color: #2ECCFA;
}

.info{
  background-color: #0B615E;
}

.boxmodel2 {
    background: #FFF;
    color: #FFF;
  
    border: 5px solid #CCC;
}

.wedding-font{
	font-family: 'valentine';
}

.cinzel-font{
	font-family: 'Cinzel', serif;
}

.btn-wedding {
  flex: 1 1 auto;
  padding: 1.05rem 5.25rem;
  font-size: 0.85rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border: 2px solid #CA0639;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
 }


.btn-wedding:hover {
  background-position: right center; /* change the direction of the change here */
  color: #FACB5F !important;
  border: 2px solid #FACB5F;
}

.btn-1 {
  background-image: linear-gradient(to right, #D31027 0%, #EA384D 51%, #D31027 100%);
}

.bg-full-heart{
	background-image: linear-gradient(to right, #D31027 0%, #EA384D 51%, #D31027 100%);
}

.bg-heart{
	background-color: #CA0639;
}

.text-golden{
	color: #FACB5F !important;
}
.text-heart{
	color: #CA0639 !important;
}



@media (min-width: 992px){
	header.bg-wedding {
	    height: 100vh;
	    min-height: 40rem;
	    padding-top: 72px;
	    padding-bottom: 0;
	}
}

/* ---- fontes ----*/

@font-face {
  font-family: valentine;
  src: url(../fonts/lovelyvalentine.otf);
}



